body {
  background: var(--white) !important;
}

.MuiContainer-root {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.MuiLink-root {
  color: var(--deep-pink) !important;
}

.MuiPaper-rounded {
  border-radius: 16px !important;
}